@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
body{
   font-family:"Epilogue", sans-serif;


}
.container .header{
   display: flex;
   justify-content: space-around;
   padding: 10px;
}
.header img{
   padding: 20px;
}
.header .container2{
   display: flex;
   justify-content: space-around;
   
}
.header .container2 p{
   padding: 15px;
   color: hsl(0, 0%, 41%);
}
.header .container3{
   display: flex;
   justify-content: space-around;

}
.header .container3 p  {
   padding: 15px;
   color: hsl(0, 0%, 41%);
}
.header .container3 #one{
   border: 2px solid black;
   border-radius: 15px;
   height: 15px;
   width: 80px;
   text-align: center;

}

.seccontainer{
   padding:50px;
   display: flex;
   justify-content: space-between;
}
.main{
   display: flex;
   flex-direction: column;
   margin: 100px;
   
   
}

.main p {
   font-size: 18px;
   margin-right: 600px;
   word-spacing: 10px;
   color: hsl(0, 0%, 41%);

}
.main h1 {
   font-size: 5rem;
   margin-right: 500px;

}
.main h4{
   border: 1px solid black;
   width: 110px;
   padding: 15px;
   border-radius: 15px;
   text-align: center;
   color: hsl(0, 0%, 98%);
   background-color:  hsl(0, 0%, 8%);

}
.images{
   position: relative;
   left: 130px;
   bottom: 100px;
}
.images img{
   padding: 15px;
}