@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: hsl(0, 0%, 100%);
    background-color:  hsl(0, 0%, 8%);
    

}
.container{
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    height: 480px;
    width: 340px;
}

.container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    
  
    
}
.one{
    color:  hsl(75, 94%, 57%);
    margin-top: 20px;
    text-align: center;
}
.container h2{
    text-align: center;
    margin-top: 40px;

}
.container .two{
    text-align: center;
    margin-top: 50px;
}

.container2 .a{
    margin-top: 30px;
    background-color: hsl(0, 0%, 20%) ;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    


}
.container2 .b{
    background-color: hsl(0 ,0%, 20%);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
.container2 .c{
    background-color: hsl(0 ,0%, 20%);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
.container2 .d{
    background-color: hsl(0 ,0%, 20%);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}
.container2 .e{
    background-color: hsl(0 ,0%, 20%);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}