
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Poppins", sans-serif;
    background-color:  hsl(0, 100%, 74%) ;


}

.container{
    display: flex;
    justify-content: space-around;
    padding: 100px;
}
.container1 {
    padding:200px;

}
.container1 .para {
    width: 500px;
    padding: 10px;
    color: white;
}
.container .head{
    color: white;
    width: 350px;
    font-size:2.5rem;
    padding: 10px;
}
.container2{
    padding: 250px;
    padding: 30px;
 
}
form{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 6px 20px 0 rgba(214, 225, 235, 0);

    

}
form input{
    padding: 15px;
    margin: 15px;
    width: 400px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    border-color:none;


}
.green{
    background-color: hsl(154, 59%, 51%);
    padding: 15px;
    margin: 15px;
    width: 400px;
    border-radius: 5px;
    text-align: center;
}
.blue{
    padding-bottom:20px ;
    background-color:hsl(248, 32%, 49%);
    text-align: center;
    padding: 15px;
    margin: 15px;
    width: 400px;
    border-radius: 5px;
    color: white;
    box-shadow:  0 6px 20px 0 rgba(92, 104, 100, 0.4);
}
@media screen and (max-width:500px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .container1{
        width: 300px;
        text-align: center;
    }
    .container2{
        
    }

}