@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-size: 16px;

}
.first{
    display: flex;
    margin: 80px;
    justify-content: space-between;
}
.first .two{
    display: flex;
    justify-content: space-around;
    
}
.first .two p{
    padding:20px;
    font-weight: 300;
    
}

.second {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    
}
.third h1{
    width: 540px;
    padding: 10px;

}
.third{
    margin: 100px;
    position: relative;
    right: 180px;
   
}
.third p{
    width: 540px;
    word-spacing: 3px;
    padding: 10px;
}
.inputs{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.inputs input{
    padding: 11px;
    border-radius: 5px;
    width: 300px;
}
.inputs button{
    padding: 11px;
    border-radius: 5px;
    width: 200px;
    font-family:"Overpass", sans-serif; 
    border-style: none;
    background-color:blue;
    color: white;

}